<!-- Customer veiw-->
{% extends 'base.html' %}

{% block customers_tab_content %}
<div>
    <!-- Get Customers with some Filter Logic -->
    <h1>Customers</h1>
    <form method="GET" action="{% url 'customer_list' %}">
        <input type="text" name="name" placeholder="Search name" value="{{name}}">
        <input type="text" name="email" placeholder="Search email" value="{{email}}">
        <button type="submit">Search</button>
    </form>
    <!-- Render customers in a list -->
    <ul class="list-group">
        {% for customer in customer_list %}
        <li class="list-group-item">
            <div>
                <div>
                    <p><strong>Name:</strong> {{ customer.name }}</p>
                    <p><strong>Email:</strong> {{ customer.email }}</p>
                </div>
                <!-- Add button to toggle display of the customers documents -->
                <div>
                    <button class="btn" onclick="toggleDocuments('documents-{{ customer.id }}')">Show
                        Documents</button>
                </div>
            </div>
            <!-- Create document request. Might not be needed since w e have this logic in documents tab -->
            <div id="documents-{{ customer.id }}" style="display: none;">
                <form method="POST" action="{% url 'create_document_request' %}">
                    <!-- Django tag for csrf. Not too sure how this works out of the box -->
                    {% csrf_token %}
                    <h3>Create Document Request</h3>
                    <!-- Hide because we always use customer we are viewings email-->
                    <input type="hidden" name="email" id="email" value="{{ customer.email }}">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text" name="name" id="name" class="form-control" placeholder="Request name">
                    </div>
                    <!-- Show enum of different document types -->
                    <div class="form-group">
                        <label for="type">Type:</label>
                        <select name="type" id="type" class="form-control">
                            {% for document_type in document_types %}
                            <option value="{{ document_type.value }}">{{ document_type.value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn">Create</button>
                </form>
                <!-- Show all customers docuements-->
                <h3>Documents:</h3>
                <ul class="list-group">
                    {% for document in customer.document_set.all %}
                    <li class="list-group-item">
                        <div>
                            <div>
                                <p><strong>Name:</strong> {{ document.name }}</p>
                                <p><strong>Type:</strong> {{ document.type }}</p>
                                <p><strong>Status:</strong> {{ document.get_status_display }}</p>
                                <!-- Construct URL to be able to upload file -->
                                <p><strong>Upload URL:</strong> <a
                                        href="http://127.0.0.1:8000/documents/upload/{{ document.presigned_url }}">{{document.presigned_url}}</a></p>
                                <p><strong>Created at</strong> {{ document.created_at }}</p>
                            </div>
                            <!-- If document has been uploaded, show download option.-->
                            <div>
                                {% if document.status == 2 %}
                                <a href="{% url 'download_document' document.presigned_url %}"
                                    class="btn btn-sm btn-primary">Download</a>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                    {% empty %}
                    <li class="list-group-item">No Documents for customer.</li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        {% empty %}
        <li class="list-group-item">No Customers assigned.</li>
        {% endfor %}
    </ul>
</div>

<script>
    // Logic to show/hide documents
    function toggleDocuments(elementId) {
        const element = document.getElementById(elementId);
        if (element.style.display === 'none') {
            element.style.display = 'block';
        } else {
            element.style.display = 'none';
        }
    }
</script>
{% endblock %}