<!-- Customer veiw-->
{% extends 'base.html' %}

{% block customers_tab_content %}
<div>
    <!-- Get Customers with some Filter Logic -->
    <h1>Customers</h1>
    <form method="GET" action="{% url 'customer_list' %}">
        <h2>Search Customers</h2>        
        {{filter_form}}
        <button type="submit">Search</button>
    </form>
    <!-- Render customers in a list -->
    <ul class="list-group">
        {% for customer in customer_list %}
        <li class="list-group-item">
            <div>
                <div>
                    <p><strong>Name:</strong> {{ customer.name }}</p>
                    <p><strong>Email:</strong> {{ customer.email }}</p>
                </div>
                <!-- Add button to toggle display of the customers documents -->
                <div>
                    <button class="btn" onclick="toggleDocuments('documents-{{ customer.id }}')">Show
                        Documents</button>
                </div>
            </div>
            <!-- Create document request. Might not be needed since w e have this logic in documents tab -->
            <div id="documents-{{ customer.id }}" style="display: none;">
                <form method="POST" action="{% url 'create_document_request' %}">
                    <h2>Create Document Request</h2>
                    {% csrf_token %}
                    <!-- Hide the email field since it is implicitly pulled from the current customer-->>
                    <input type="hidden" name="email" id="email" value="{{ customer.email }}">                    
                    <p>
                        <strong>{{ document_form.name.label_tag }}</strong>
                        {{ document_form.name }}
                    </p>        
                    <p>
                        <strong>{{ document_form.file_type.label_tag }}</strong>
                        {{ document_form.file_type }} 
                    </p>        
                    <button type="submit" class="btn">Create</button>
                </form>
                <!-- Show all customers docuements-->
                <h3>Documents:</h3>
                <ul class="list-group">
                    {% for document in customer.document_set.all %}
                    <li class="list-group-item">
                        <div>
                            <div>
                                <p><strong>Name:</strong> {{ document.name }}</p>
                                <p><strong>Type:</strong> {{ document.get_file_type_display }}</p>
                                <p><strong>Status:</strong> {{ document.get_status_display }}</p>
                                <!-- Construct URL to be able to upload file -->
                                <p><strong>Upload URL:</strong> <a
                                        href="{{request.scheme}}://{{request.META.HTTP_HOST}}/documents/upload/{{ document.upload_id }}">{{document.upload_id}}</a></p>
                                <p><strong>Created at</strong> {{ document.created_at }}</p>
                            </div>
                            <!-- If document has been uploaded, show download option.-->
                            <div>
                                {% if document.status == UploadStatus.COMPLETED %}
                                <a href="{% url 'download_document' document.upload_id %}"
                                    class="btn btn-sm btn-primary">Download</a>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                    {% empty %}
                    <li class="list-group-item">No Documents for customer.</li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        {% empty %}
        <li class="list-group-item">No Customers assigned.</li>
        {% endfor %}
    </ul>
</div>

<script>
    // Logic to show/hide documents
    function toggleDocuments(elementId) {
        const element = document.getElementById(elementId);
        if (element.style.display === 'none') {
            element.style.display = 'block';
        } else {
            element.style.display = 'none';
        }
    }
</script>
{% endblock %}