<!-- Documents View -->
{% extends 'base.html' %}

{% block documents_tab_content %}
<div>
    <h1>Document Requests</h1>

    <form method="POST" action="{% url 'create_document_request' %}">
        <h2>Create Document Request</h2>
        {% csrf_token %}
        <p>
            <strong>{{ document_form.email.label_tag }}</strong>
            <select name="email" id="email">
                {% for customer in customers %}
                <option value="{{ customer.email }}">{{ customer.email }}</option>
                {% endfor %}
            </select>
        </p>        
        <p>
            <strong>{{ document_form.name.label_tag }}</strong>
            {{ document_form.name }}
        </p>        
        <p>
            <strong>{{ document_form.file_type.label_tag }}</strong>
            {{ document_form.file_type }} 
        </p>        
        <button type="submit" class="btn">Create</button>
    </form>
    
    <!-- Get Document Requests with some Filter Logic -->
    <form method="GET">
        <h2>Search Document Requests</h2>
        {{filter_form}}
        <button type="submit">Search</button>
    </form>
    <!-- Render the documents -->
    <ul class="list-group">
        {% for document in document_list %}
        <li class="list-group-item">
            <div>
                <div>
                    <p><strong>Email:</strong> {{ document.customer.email }}</p>
                    <p><strong>Name:</strong> {{ document.name }}</p>
                    <p><strong>Type:</strong> {{ document.get_file_type_display }}</p>
                    <p><strong>Status:</strong> {{ document.get_status_display }}</p>
                    <!-- Construct URL to be able to upload file -->
                    <p><strong>Upload URL:</strong> <a
                            href="{{request.scheme}}://{{request.META.HTTP_HOST}}/documents/upload/{{ document.upload_id }}">{{document.upload_id}}</a></p>
                    <p><strong>Created at</strong> {{ document.created_at }}</p>
                    <!-- If document has been uploaded, show download option.-->
                    {% if document.status == UploadStatus.COMPLETED %}
                    <a href="{% url 'download_document' document.upload_id %}"
                        class="btn btn-sm btn-primary">Download</a>
                    {% endif %}
                </div>
            </div>
        </li>
        {% empty %}
        <li class="list-group-item text-center">No Document Requests.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}